<h2>Change your audition date and/or time</h2>

<%= form_for @audition do |f| %>
  <%= f.date_select(:date,:start_year => 2018) %><br><br>
  <%= f.time_select(:time,:start_year => 2018) %><br><br>
  <%= f.submit %>

<% end %>
