<h1>Production Companies</h1>
  <ul>
    <% @production_companies.each do |company| %>
    <li>
    <%= link_to company.name, production_company_path(company) %>
  </li>
    <% end %>
</ul>
<%= link_to "Create a production company", new_production_company_path %>
